/* Base styles for the autocomplete list */
.sitestudio-extras-autocomplete-list {
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 1000;
  display: block;
}

/* Style for each list item */
.sitestudio-extras-autocomplete-list li {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

/* Highlight item on hover */
.sitestudio-extras-autocomplete-list li:hover {
  background-color: #f0f0f0;
}

/* Style for "No Results" message */
.sitestudio-extras-autocomplete-list .no-result {
  font-style: italic;
  color: #999;
  text-align: center;
  padding: 10px;
}

/* Add a scrollbar for overflow */
.sitestudio-extras-autocomplete-list::-webkit-scrollbar {
  width: 6px;
}

.sitestudio-extras-autocomplete-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.sitestudio-extras-autocomplete-list::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
